@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "https://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css";

$background: #161616;
$main: #f3ca20;
$success: #5af52b;
$error: #cc3b3b;

@font-face {
    font-family: "PFDinDisplayPro";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PFDinDisplayPro-Regular.woff") format("woff");
}

@font-face {
    font-family: "PFDinDisplayPro";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PFDinDisplayPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "signatures";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/signatures.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Thai", sans-serif;
    color: white;
    font-weight: 300;
    user-select: none;
}

html {
    overflow: hidden;
}

.main-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background;

    .logo-server {
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        width: 6vmin;
        height: 6vmin;
        background-color: rgb(15, 15, 15);
        background-image: url("/img/logo.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        animation: crossfade 20s forwards;
        z-index: 999;
        transition: 0.2s;
        border-radius: .8vmin;

        &.hide {
            opacity: 0;
        }
    }

    .logo-developer {
        position: absolute;
        top: 1vmin;
        right: 8vmin;
        width: 6vmin;
        height: 6vmin;
        background-color: rgb(15, 15, 15);
        background-image: url("https://www.athens-groups.com/img/logo_bg.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        animation: crossfade 20s forwards;
        z-index: 999;
        transition: 0.2s;
        border-radius: .8vmin;

        &.hide {
            opacity: 0;
        }
    }

    .menu-container {
        position: absolute;
        top: 1vmin;
        left: 50%;
        translate: -50% 0;
        width: 50vmin;
        height: 5vmin;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            height: 5vmin;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3vmin;
            border-radius: .8vmin;
            background-color: $background;
            border: .2vmin solid lighten($background, 20%);

            .header {
                position: relative;
                color: white;
                width: 8vmin;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 999;
                transition: 1s;
                background-color: $background;
                border: .2vmin solid lighten($background, 30%);
                border-left: 0;
                border-right: 0;

                img {
                    height: 90%;
                    user-select: none;
                }
            }

            .menu {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.7;
                transition: 0.2s;
                width: 4vmin;
                height: 4vmin;
                white-space: nowrap;
                text-decoration: none;
                font-size: 1.6vmin;

                i {
                    position: absolute;
                    font-size: 2.5vmin;
                }

                &.active,
                &:hover {
                    opacity: 1;
                    color: rgb(243, 202, 32);
                    text-shadow: 0 0 1vmin rgb(243, 202, 32);
                }
            }
        }
    }

    .sc-background {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to top,
                darken($background, 5%),
                transparent 40%,
                transparent 60%,
                darken($background, 5%)
            );
            z-index: 13;
        }

        * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    .music-info-controller {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 7vmin;
        background-color: lighten($background, 2%);
        z-index: 99;
        transition: .3s;

        .timestamp-bar {
            position: absolute;
            left: 50%;
            top: 1vmin;
            translate: -50% 0;
            width: 60vmin;
            height: 5vmin;
            background-color: rgb(255,255,255,.1);
            border-radius: .8vmin;

            .box {
                position: absolute;
                top: 1vmin;
                left: 50%;
                translate: -50% 0;
                width: 57vmin;
                height: .6vmin;
                background-color: rgb(255,255,255,.3);
                border-radius: 2.2vmin;
                overflow: hidden;

                .bar {
                    position: absolute;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background-color: white;
                    box-shadow: 0 0 1vmin white;
                    transition: 1s;
                }
            }

            .time {
                position: absolute;
                left: 1.5vmin;
                top: 2vmin;
                font-size: 1.2vmin;
                opacity: .5;
            }
            
            .max-time {
                position: absolute;
                right: 1.5vmin;
                top: 2vmin;
                font-size: 1.2vmin;
                opacity: .5;
            }
        }

        .action-bar {
            position: absolute;
            left: 50%;
            translate: -50% 0;
            display: flex;
            gap: 1vmin;

            bottom: 1.5vmin;

            .play-pause {
                position: relative;
                
                .fa-pause,
                .fa-play {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    translate: -50% -50%;
                    opacity: 0;
                    transition: .2s;
                }
            }

            div {
                cursor: pointer;
                font-size: 1.2vmin;
                width: 2vmin;
                height: 2vmin;
                display: flex;
                align-items: center;
                justify-content: center;

                &.isPlay {
                    .fa-pause {
                        opacity: 1;
                    }
                }

                &:not(.isPlay) {
                    .fa-play {
                        opacity: 1;
                    }
                }
            }
        }

        .volume-control {
            position: absolute;
            top: 50%;
            left: 2vmin;
            translate: 0 -50%;
            width: 20vmin;
        }
    }

    .progressbar {
        position: absolute;
        bottom: 7vmin;
        left: 0;
        width: 100%;
        height: 1.2vmin;
        background-color: $background;
        overflow: hidden;
        z-index: 99;
        transition: .3s;

        .bar {
            position: absolute;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: rgb(243, 202, 32);
            box-shadow: 0 0 2vmin rgb(243, 202, 32);
            transition: .25s;
        }
    }

    &.show {
        .music-info-controller {
            bottom: -7vmin;
        }

        .progressbar {
            bottom: -7.2vmin;
        }
    }

    .play-button {
        position: absolute;
        left: 50%;
        bottom: 10vmin;
        translate: -50% 0;
        padding: 0.5vmin 3vmin;
        z-index: 90;
        border-radius: 2.2vmin;
        font-size: 2vmin;
        transition: 0.3s;

        &.ready {
            cursor: pointer;
            background-color: $main;
            color: $background;
        }

        &:not(.ready) {
            background-color: $background;
            color: white;
            scale: 0.9;
            opacity: 0;
        }
    }
}

.menu-ontop {
    position: absolute;
    top: -100%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: 2s all, .3s scale;
    scale: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        background-color: rgb($background, .9);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transition: .3s;
    }

    &.modalShow {
        scale: 90%;

        &::before {
            scale: 120%;
        }
    }
    
    &.show {
        top: 0%;
    }

    .logo-server {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 40vmin;
        height: 40vmin;
        background-image: url("/img/logo.png");
        background-size: cover;
        z-index: 999;
        transition: 3s ease-in-out;
        opacity: 0;
    }

    .register-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 90vmin;
        height: 50vmin;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .title {
            position: absolute;
            left: 50%;
            background-color: lighten($background, 5%);
            padding: 0 3vmin;
            height: 5vmin;
            font-size: 1.8vmin;
            border-radius: 20vmin;
            translate: -50% 0;
            white-space: nowrap;
            top: -2.5vmin;
            z-index: 99;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-side {
            position: absolute;
            left: -10vmin;
            top: 0;
            opacity: 0;
            transition: .8s;
            width: 45vmin;
            height: 100%;
            background-color: lighten($background, 2%);
            border-radius: 2.2vmin;
            box-sizing: border-box;
            padding: 2vmin;
            padding-top: 4vmin;

            .bottom {
                display: flex;
                width: 100%;
                gap: 2vmin;

                button {
                    flex: 1;
                }
            }
        }

        .id-card {
            position: absolute;
            right: -10vmin;
            opacity: 0;
            top: 50%;
            translate: 0 -50%;
            width: 43vmin;
            height: 25vmin;
            background: linear-gradient(to top left, mix(darken($main, 20%), $background, 60%), mix($main, $background, 60%));
            border-radius: 2.2vmin;
            box-shadow: 0 0 5vmin $main;
            transition: .8s;

            .logo-background {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                background-image: url("/img/logo.png");
                background-size: cover;
                width: 20vmin;
                height: 20vmin;
                opacity: .1;
            }

            .card-title {
                position: absolute;
                left: 0;
                top: 1.9vmin;
                height: 3vmin;
                width: 100%;
                background-color: $background;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 2vmin;
                font-size: 1.2vmin;
                z-index: 1;
            }

            .card-name {
                position: absolute;
                top: 5vmin;
                width: 100%;
                height: 3vmin;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 2vmin;
                z-index: 1;

                .header {
                    font-size: 1.2vmin;
                    margin-right: 1vmin;
                }

                .value {
                    font-family: "Noto Sans Thai", "PFDinDisplayPro";
                    font-weight: bold;
                    position: absolute;
                    left: 9vmin;
                    font-size: 1.6vmin;
                    margin-bottom: .25vmin;
                    text-transform: uppercase;
                }
            }

            .card-dob {
                position: absolute;
                top: 8vmin;
                width: 100%;
                height: 3vmin;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 2vmin;
                z-index: 1;

                .header {
                    font-size: 1.2vmin;
                    margin-right: 1vmin;
                }

                .value {
                    font-family: "Noto Sans Thai", "PFDinDisplayPro";
                    font-weight: bold;
                    position: absolute;
                    left: 9vmin;
                    font-size: 1.6vmin;
                    margin-bottom: .25vmin;
                    text-transform: uppercase;
                }
            }

            .card-height {
                position: absolute;
                top: 11vmin;
                width: 100%;
                height: 3vmin;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 2vmin;
                z-index: 1;

                .header {
                    font-size: 1.2vmin;
                    margin-right: 1vmin;
                }

                .value {
                    font-family: "Noto Sans Thai", "PFDinDisplayPro";
                    font-weight: bold;
                    position: absolute;
                    left: 9vmin;
                    font-size: 1.6vmin;
                    margin-bottom: .25vmin;
                    text-transform: uppercase;
                }
            }

            .card-gender {
                position: absolute;
                top: 14vmin;
                width: 100%;
                height: 3vmin;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 2vmin;
                z-index: 1;

                .header {
                    font-size: 1.2vmin;
                    margin-right: 1vmin;
                }

                .value {
                    font-family: "Noto Sans Thai", "PFDinDisplayPro";
                    font-weight: bold;
                    position: absolute;
                    left: 9vmin;
                    font-size: 1.6vmin;
                    margin-bottom: .25vmin;
                    text-transform: uppercase;
                }
            }


            .card-image {
                position: absolute;
                right: 1vmin;
                bottom: 1vmin;
                width: 8vmin;
                height: 8vmin;
                background-color: $background;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3vmin;
                border-radius: .8vmin;
                border-bottom-right-radius: 2.2vmin;
            }

            .card-signature {
                position: absolute;
                right: 10vmin;
                bottom: 1vmin;
                border-bottom: .2vmin solid rgb(255,255,255);
                padding: 0 2vmin;

                * {
                    font-family: "signatures";
                    font-size: 4vmin;
                }
            }
        }

        &.show {
            .left-side {
                opacity: 1;
                left: 0;
            }

            .id-card {
                right: 0;
                opacity: 1;
            }
        }
    }
}

@keyframes crossfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-group {
    position: relative;
    width: 100%;
    display: flex;
    gap: 2vmin;

    > div {
        flex: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    visibility: hidden;
    transition: .3s;
    opacity: 0;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    .modal-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(darken($background, 5%), .9);
    }

    .modal-container {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        min-width: 40vmin;
        min-height: 18vmin;
        background-color: lighten($background, 5%);
        border-radius: 2.2vmin;
        box-sizing: border-box;
        padding: 3vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 8vmin;
        scale: 1.1;
        transition: .4s;

        .modal-title {
            font-size: 2vmin;
            font-weight: bold;
        }

        .modal-subtitle {
            font-size: 1.6vmin;
            opacity: .3;
            font-weight: 300;
        }

        .modal-action {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5vmin;
            border-top: .2vmin solid rgb(darken($background, 5%), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-bottom-left-radius: 2.2vmin;
            border-bottom-right-radius: 2.2vmin;

            .modal-btn {
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .2s;
                font-size: 1.4vmin;

                &:hover {
                    background-color: $background;
                }
            }
        }
    }

    &.show {
        .modal-container {
            scale: 1;
        }
    }
}